# ----- Sources de {{ debian_version }} ------------------------------------------------------
# deb http://ftp.fr.debian.org/debian/ {{ debian_version }} main contrib non-free
# deb-src http://ftp.fr.debian.org/debian/ {{ debian_version }} main contrib non-free

# deb http://security.debian.org/ {{ debian_version }}/updates main contrib non-free
# deb-src http://security.debian.org/ {{ debian_version }}/updates main contrib non-free

# stretch-updates, previously known as 'volatile'
# deb http://ftp.fr.debian.org/debian/ {{ debian_version }}-updates main contrib non-free
# deb-src http://ftp.fr.debian.org/debian/ {{ debian_version }}-updates main contrib non-free

