$TTL {{ dft_dns_server.zone.ttl }}
@     IN     SOA    {{ dft_dns_server.zone.primary_server_name }}	{{ dft_dns_server.zone.hostmaster_email }} (
                    {{ dft_dns_server.zone.serial }}
                    {{ dft_dns_server.zone.refresh }}
                    {{ dft_dns_server.zone.retry }}
                    {{ dft_dns_server.zone.expire }}
                    {{ dft_dns_server.zone.minimum_ttl }} )

{% for host in dft_dns_server.dns %}
	IN	NS	{{ host.hostname }}
{% endfor %}

{% for host in dft_dns_server.mx %}
	IN	MX	{{ host.preference }}	{{ host.hostname }}
{% endfor %}

{% for host in dft_dns_server.hosts %}
{{ host.hostname }}	IN	A	{{ host.address }}
{% endfor %}

{% for host in dft_dns_server.cnames %}
{{ host.hostname }}	IN	A	{{ host.cname }}
{% endfor %}
