# TODO : so far not yet available

# by default it's 444, so we have to change permissions to be able to change values
# mode devices/system/cpu/cpufreq/conservative = 644
# devices/system/cpu/cpufreq/conservative/freq_step = 10
# devices/system/cpu/cpufreq/conservative/up_threshold = 45
# devices/system/cpu/cpufreq/conservative/ignore_nice_load = 1
# devices/system/cpu/cpufreq/conservative/sampling_down_factor = 10
