Source: linux-kernel-odroid-c2
Section: kernel
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-odroid-c2
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 5.11.6 for odroid-c2
 This packages contains the Linux kernel version 5.11.6 compiled for odroid-c2 board.

# Package: linux-headers-odroid-c2-5.11.6
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 5.11.6 for odroid-c2
#  This packages contains the Linux kernel headers version 5.11.6 for odroid-c2 board.
