[Desktop Entry]
Type=Application
Exec=/usr/bin/chromium {{ dft_browser_chromium_parameters }}
Hidden=false
NoDisplay=False
Name=Chromium
Comment=Chromium autostarted
StartupNotify=false
Terminal=false
