Source: linux-kernel-cubieboard-3
Section: kernel
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-cubieboard-3
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 6.2.14 for cubieboard-3
 This packages contains the Linux kernel version 6.2.14 compiled for cubieboard-3 board.

# Package: linux-headers-cubieboard-3-6.2.14
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 6.2.14 for cubieboard-3
#  This packages contains the Linux kernel headers version 6.2.14 for cubieboard-3 board.
