Source: linux-kernel-orangepi-zero
Section: kernel
Priority: optional
Maintainer: William Bonnet <william@wbonnet.net>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-orangepi-zero
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 5.19.6 for orangepi-zero
 This packages contains the Linux kernel version 5.19.6 compiled for orangepi-zero board.

# Package: linux-headers-orangepi-zero-5.19.6
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 5.19.6 for orangepi-zero
#  This packages contains the Linux kernel headers version 5.19.6 for orangepi-zero board.
