# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Projet de board Cécile Janin : Bourgeon
board-images/single-board-computer/c6l-bourgeon/
board-support/single-board-computer/c6l-bourgeon/A

	dft-cli/.pybuild/
	dft-cli/debian/dft-ci.substvars
	dft-cli/debian/dft-ci/
	dft-cli/debian/dft-doc.substvars
	dft-cli/debian/dft-doc/
	dft-cli/debian/dft-examples.substvars
	dft-cli/debian/dft-examples/
	dft-cli/debian/dft-test-bsp.substvars
	dft-cli/debian/dft-test-bsp/
	dft-cli/debian/dft.postinst.debhelper
	dft-cli/debian/dft.prerm.debhelper
	dft-cli/debian/dft.substvars
	dft-cli/debian/dft/
	dft-cli/debian/files
