Source: u-boot-pine64-a64
Section: misc
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-pine64-a64
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version 2024.07 for pine64-a64
 This packages contains u-boot version 2024.07 compiled for pine64-a64 board.
