{% for release in item.releases %}
{% if release.origin is defined %}
Origin: {{ release.origin }}
{% else %}
{% if item.origin is defined %}
Origin: {{ item.origin }}
{% endif %}
{% endif %}
{% if release.label is defined %}
Label: {{ release.label }}
{% endif %}
{% if release.codename is defined %}
Codename: {{ release.codename }}
{% endif %}
{% if release.suite is defined %}
Suite: {{ release.suite }}
{% endif %}
{% if release.architectures is defined %}
Architectures: {{ release.architectures }}
{% endif %}
{% if release.components is defined %}
Components: {{ release.components }}
{% endif %}
{% if release.udeb_components is defined %}
UDebComponents: {{ release.udeb_components }}
{% endif %}
{% if release.description is defined %}
Description: {{ release.description }}
{% endif %}
{% if release.log is defined %}
Log: {{ release.log }}
{% endif %}
{% if release.sign_with is defined %}
SignWith: {{ release.sign_with }}
{% endif %}
{% if release.deb_override is defined %}
DebOverride: {{ release.deb_override }}
{% endif %}
{% if release.udeb_override is defined %}
UDebOverride: {{ release.udeb_override }}
{% endif %}
{% if release.dsc_override is defined %}
DscOverride: {{ release.dsc_override }}
{% endif %}
{% if release.deb_indices is defined %}
DebIndices: {{ release.deb_indices }}
{% endif %}
{% if release.udeb_indices is defined %}
UDebIndices: {{ release.udeb_indices }}
{% endif %}
{% if release.dsc_indices is defined %}
DscIndices: {{ release.dsc_indices }}
{% endif %}
{% if release.contents is defined %}
Contents: {{ release.contents }}
{% endif %}
{% if release.uploaders is defined %}
Uploaders: {{ release.uploaders }}
{% else %}
Uploaders: allow-upload
{% endif %}

{% endfor %}
