Source: u-boot-odroid-c0
Section: misc
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-odroid-c0
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version 2020.04 for odroid-c0
 This packages contains u-boot version 2020.04 compiled for odroid-c0 board.
