[LightDM]

[Seat:*]

[XDMCPServer]

[VNCServer]

{% if dft_lightdm_autologin == True %}
[SeatDefaults]
autologin-user={{ dft_lightdm_autologin_user }}
autologin-user-timeout={{ dft_lightdm_autologin_user_timeout }}
{% endif %}
