Source: linux-kernel-MILK-V-Duo
Section: kernel
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-MILK-V-Duo
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 6.13.7 for MILK-V-Duo
 This packages contains the Linux kernel version 6.13.7 compiled for MILK-V-Duo board.

# Package: linux-headers-MILK-V-Duo-6.13.7
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 6.13.7 for MILK-V-Duo
#  This packages contains the Linux kernel headers version 6.13.7 for MILK-V-Duo board.
