<VirtualHost *>
{% if item.distributions is defined %}
{% for distribution in item.distributions %}

    # If the path is not under /var/www or /usr/share, don't forget to activate it in
    # /etc/apache2/apache2.conf
    DocumentRoot {{ item.base_directory }}
    ServerName {{ item.name }}
    ErrorLog /var/log/apache2/{{ distribution.codename }}.error.log

    LogLevel warn

    CustomLog /var/log/apache2/{{ distribution.codename }}.access.log combined

    # Set access control to /srv mountpoint
    <Directory /srv/www>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    # Allow directory listings so that people can browse the repository from their browser too
    <Directory "{{ item.base_directory }}">
        Options Indexes FollowSymLinks MultiViews
        Order allow,deny
        Allow from all
    </Directory>

    # The following directives prevents from browsing some internal repo structures
    # The syntax allow multiple repositories (there is no need to generate a rule per repo).
    # The * joker match any repo under the base directory
    <Directory "{{ item.base_directory }}/*/conf">
        Order allow,deny
        Deny from all
    </Directory>

    <Directory "{{ item.base_directory }}/*/db">
        Order allow,deny
        Deny from all
    </Directory>

    <Directory "{{ item.base_directory }}/*/incoming">
        Order allow,deny
        Deny from all
    </Directory>
{% endfor %}
{% endif %}
</VirtualHost>
