Source: linux-kernel-rovtop-t9
Section: kernel
Priority: optional
Maintainer: William Bonnet <william@wbonnet.net>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-rovtop-t9
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 5.19.14 for rovtop-t9
 This packages contains the Linux kernel version 5.19.14 compiled for rovtop-t9 board.

# Package: linux-headers-rovtop-t9-5.19.14
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 5.19.14 for rovtop-t9
#  This packages contains the Linux kernel headers version 5.19.14 for rovtop-t9 board.
