# ZONE  INTERFACE BROADCAST OPTIONS
{% if dft_shorewall.interfaces is defined %}
{% for int in dft_shorewall.interfaces %}
{% if int.comment is defined %}

# {{ int.comment }}
{% endif %}
{{ int.zone }}	{{ int.interface }}	{{ int.broadcast }}	{{ int.options }}
{%endfor %}
{% endif %}
#LAST LINE -- ADD YOUR ENTRIES ABOVE THIS LINE -- DO NOT REMOVE
