Source: linux-kernel-generic-amd64
Section: kernel
Priority: optional
Maintainer: William Bonnet <william@wbonnet.net>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-generic-amd64
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 5.19.12 for generic-amd64
 This packages contains the Linux kernel version 5.19.12 compiled for generic-amd64 board.

# Package: linux-headers-generic-amd64-5.19.12
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 5.19.12 for generic-amd64
#  This packages contains the Linux kernel headers version 5.19.12 for generic-amd64 board.
