Source: linux-kernel-odroid-hc1
Section: kernel
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-odroid-hc1
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 5.0.1 for odroid-hc1
 This packages contains the Linux kernel version 5.0.1 compiled for odroid-hc1 board.

# Package: linux-headers-odroid-hc1-5.0.1
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 5.0.1 for odroid-hc1
#  This packages contains the Linux kernel headers version 5.0.1 for odroid-hc1 board.
