Source: u-boot-nanopi-m1-plus
Section: misc
Priority: optional
Maintainer: William Bonnet <william@wbonnet.net>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-nanopi-m1-plus
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version 2022.10 for nanopi-m1-plus
 This packages contains u-boot version 2022.10 compiled for nanopi-m1-plus board.
