TO="{{ dft_ftpsync_backports_repository_dir }}"
RSYNC_HOST={{ dft_ftpsync_conf_backports_debian_mirror }}
RSYNC_PATH={{ dft_ftpsync_conf_backports_debian_mirror_path }}
RSYNC_BW="{{ dft_ftpsync_rsync_bandwidth_limit }}"
EXCLUDE="{{ dft_ftpsync_conf_backports_exclude }}"
ARCH_INCLUDE="{{ dft_ftpsync_conf_backports_arch_include }}"
