server.modules = (
  "mod_access",
  "mod_alias",
  "mod_compress",
  "mod_redirect",
#       "mod_rewrite",
)

server.document-root        = "{{ dft_lighttpd_document_root }}"
server.upload-dirs          = ( "{{ dft_lighttpd_server_uploaddirs }}" )
server.errorlog             = "{{ dft_lighttpd_server_errorlog }}"
server.pid-file             = "{{ dft_lighttpd_server_pidfile }}"
server.username             = "{{ dft_lighttpd_server_username }}"
server.groupname            = "{{ dft_lighttpd_server_groupname }}"
server.port                 = {{ dft_lighttpd_server_port }}


index-file.names            = ( "index.php", "index.html", "index.lighttpd.html" )
url.access-deny             = ( "~", ".inc" )
static-file.exclude-extensions = ( ".php", ".pl", ".fcgi" )

compress.cache-dir          = "/var/cache/lighttpd/compress/"
compress.filetype           = ( "application/javascript", "text/css", "text/html", "text/plain" )

# default listening port for IPv6 falls back to the IPv4 port
include_shell "/usr/share/lighttpd/use-ipv6.pl " + server.port
include_shell "/usr/share/lighttpd/create-mime.assign.pl"
include_shell "/usr/share/lighttpd/include-conf-enabled.pl"
