Source: u-boot-hk1-mini
Section: misc
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-hk1-mini
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version 2023.07.02 for hk1-mini
 This packages contains u-boot version 2023.07.02 compiled for hk1-mini board.
