Source: u-boot-roc-rk3399-pc
Section: misc
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-roc-rk3399-pc
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version 2023.07.02 for roc-rk3399-pc
 This packages contains u-boot version 2023.07.02 compiled for roc-rk3399-pc board.
