Source: u-boot-orangepi-02-w2
Section: misc
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-orangepi-02-w2
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version 2024.10 for orangepi-02-w2
 This packages contains u-boot version 2024.10 compiled for orangepi-02-w2 board.
