Source: u-boot-m96x-2
Section: misc
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-m96x-2
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version 2023.07.02 for m96x-2
 This packages contains u-boot version 2023.07.02 compiled for m96x-2 board.
