Source: u-boot-odroid-xu4
Section: misc
Priority: optional
Maintainer: William Bonnet <william@wbonnet.net>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-odroid-xu4
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version 2022.10 for odroid-xu4
 This packages contains u-boot version 2022.10 compiled for odroid-xu4 board.
