# vim: ft=make ts=4 sw=4 noet
#
# The contents of this file are subject to the Apache 2.0 license you may not
# use this file except in compliance with the License.
#
# Software distributed under the License is distributed on an "AS IS" basis,
# WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
# for the specific language governing rights and limitations under the
# License.
#
#
# Copyright 2016-2022 DFT project (http://www.firmwaretoolkit.org).
# All rights reserved. Use is subject to license terms.
#
#
# Contributors list :
#
#		William Bonnet	 	wllmbnnt@gmail.com, william@wbonnet.net
#       Jean-Marc Lacroix   jeanmarc.lacroix@free.fr
#
#

CONFIG_KPROBES_SANITY_TEST=n
CONFIG_BACKTRACE_SELF_TEST=n
CONFIG_RBTREE_TEST=n
CONFIG_INTERVAL_TREE_TEST=n
CONFIG_PERCPU_TEST=n
