Source: linux-kernel-nitrogen-8m
Section: kernel
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-nitrogen-8m
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 6.3.8 for nitrogen-8m
 This packages contains the Linux kernel version 6.3.8 compiled for nitrogen-8m board.

# Package: linux-headers-nitrogen-8m-6.3.8
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 6.3.8 for nitrogen-8m
#  This packages contains the Linux kernel headers version 6.3.8 for nitrogen-8m board.
