# vim:filetype=msmtp
#
# The contents of this file are subject to the Apache 2.0 license you may not
# use this file except in compliance with the License.
#
# Software distributed under the License is distributed on an "AS IS" basis,
# WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
# for the specific language governing rights and limitations under the
# License.
#
#
# Copyright 2020 DFT project (http://www.firmwaretoolkit.org).
# All rights reserved. Use is subject to license terms.
#
#
# Contributors list :
#
#    William Bonnet     wllmbnnt@gmail.com, wbonnet@theitmakers.com
#
#

# Set default values for all following accounts.
defaults

# System wide configuration file
account default

{% if dft_msmtp is not defined  %}
# dft_msmtp Ansible variable as not defined. Unable to instanciate configuration file
{% else %}
{% if dft_msmtp.auth is defined and (dft_msmtp.auth == True or dft_msmtp.auth == "on") %}
auth on
{% else %}
auth off
{% endif %}
{% if dft_msmtp.tls is defined and (dft_msmtp.tls == True or dft_msmtp.tls == "on") %}
tls on
{% else %}
tls off
{% endif %}
{% if dft_msmtp.logfile is defined %}
logfile {{dft_msmtp.logfile}}
{% else %}
logfile /var/log/mssmtp.log
{% endif %}
{% if dft_msmtp.tls_port is defined %}
port {{ dft_msmtp.tls_port }}
{% endif %}
{% if dft_msmtp.tls_starttls is defined and (dft_msmtp.tls_starttls == True or dft_msmtp.tls_starttls == "on")%}
tls_starttls on
{% else %}
tls_starttls off
{% endif %}
{% if dft_msmtp.tls_trust_file is defined %}
tls_trust_file {{dft_msmtp.tls_trust_file}}
{% else %}
tls_trust_file /etc/ssl/certs/ca-certificates.crt
{% endif %}


{% if dft_msmtp.from is defined %}
from {{ dft_msmtp.from }}
{% endif %}
{% if dft_msmtp.user is defined %}
user {{ dft_msmtp.user }}
{% endif %}
{% if dft_msmtp.password is defined %}
password {{ dft_msmtp.password }}
{% endif %}
{% if dft_msmtp.maildomain is defined %}
maildomain {{ dft_msmtp.maildomain }}
{% endif %}

# Syslog logging with facility LOG_MAIL instead of the default LOG_USER
{% if dft_msmtp.syslog_facility is defined %}
syslog {{ dft_msmtp.syslog_facility }}
{% else %}
# Syslog logging with facility LOG_MAIL instead of the default LOG_USER
syslog LOG_MAIL
{% endif %}

{% if dft_msmtp.smtp_host is defined %}
host {{ dft_msmtp.smtp_host }}
{% endif %}
{% endif %}