Source: u-boot-sabre-qsd-plus
Section: misc
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-sabre-qsd-plus
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version 2018.07 for sabre-qsd-plus
 This packages contains u-boot version 2018.07 compiled for sabre-qsd-plus board.
