Source: u-boot-__BOARD_NAME__
Section: misc
Priority: optional
Maintainer: __MAINTAINER_NAME__ <__MAINTAINER_EMAIL__>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-__BOARD_NAME__
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version __UBOOT_VERSION__ for __BOARD_NAME__
 This packages contains u-boot version __UBOOT_VERSION__ compiled for __BOARD_NAME__ board.
