TO="{{ ftpsync_ports_repository_dir }}"
RSYNC_HOST={{ ftpsync_conf_ports_debian_mirror }}
RSYNC_PATH={{ ftpsync_conf_ports_debian_mirror_path }}
RSYNC_BW="{{ ftpsync_rsync_bandwidth_limit }}"
EXCLUDE="{{ ftpsync_conf_ports_exclude }}"
ARCH_INCLUDE="{{ ftpsync_conf_ports_arch_include }}"
