TO="{{ ftpsync_security_repository_dir }}"
RSYNC_HOST={{ ftpsync_conf_security_debian_mirror }}
RSYNC_PATH={{ ftpsync_conf_security_debian_mirror_path }}
RSYNC_BW="{{ ftpsync_rsync_bandwidth_limit }}"
EXCLUDE="{{ ftpsync_conf_security_exclude }}"
ARCH_INCLUDE="{{ ftpsync_conf_security_arch_include }}"
