TO="{{ ftpsync_main_repository_dir }}"
RSYNC_HOST={{ ftpsync_conf_main_debian_mirror }}
RSYNC_PATH={{ ftpsync_conf_main_debian_mirror_path }}
EXCLUDE="{{ ftpsync_conf_main_exclude }}"
ARCH_INCLUDE="{{ ftpsync_conf_main_arch_include }}"
