#!/usr/bin/env bash

#
# The contents of this file are subject to the Apache 2.0 license you may not
# use this file except in compliance with the License.
#
# Software distributed under the License is distributed on an "AS IS" basis,
# WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
# for the specific language governing rights and limitations under the
# License.
#
#
# Copyright 2020 DFT project (http://www.firmwaretoolkit.org).
# All rights reserved. Use is subject to license terms.
#
#
# Contributors list :
#
#    William Bonnet     wllmbnnt@gmail.com, wbonnet@theitmakers.com
#
#

#
# This script has been generated using the template provided by dft-sysop-rsync role.
# Its purpose is to create a synchronize a local directory content to a local or remote path.
#

# Stop a first error
set -e

# Retrive the project filename from the command line
#DFT_PROJECT=$1

# Stores the current working dir
#WORKING_DIR=$(pwd)
