#!/usr/bin/bash

#
# The contents of this file are subject to the Apache 2.0 license you may not
# use this file except in compliance with the License.
#
# Software distributed under the License is distributed on an "AS IS" basis,
# WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
# for the specific language governing rights and limitations under the
# License.
#
#
# Copyright 2020 DFT project (http://www.firmwaretoolkit.org).
# All rights reserved. Use is subject to license terms.
#
#
# Contributors list :
#
#    William Bonnet     wllmbnnt@gmail.com, wbonnet@theitmakers.com
#
#

#
# This script has been generated using the template provided by dft-sysop-archive role. its
# function is to create a tar archive using given source path (the data to archive), target
# (produced file) and cli options.

# Stop a first error
set -e

# Defines the rsync command options
{% if item.rsync_options is defined and item.rsync_options != "" %}
RSYNC_OPTIONS="{{ item.rsync_options }}"
{% else %}
RSYNC_OPTIONS="--archive"
{% endif %}

# Defines the backup target directory
{% if item.archive_path is defined %}
RSYNC_DST="{{ item.destination }}"
{% else %}
RSYNC_DST=/var/backups
{% endif %}

# Defines the list of sources path to rsync
RSYNC_SRC=""
{% for source in item.source_content %}
RSYNC_SRC="${RSYNC_SRC} {{ source.path }}"
{% endfor %}

# Finally run the rsync command
rsync ${RSYNC_OPTIONS} ${RSYNC_SRC} ${RSYNC_DST}
