Source: u-boot-nanopi-neo-plus2
Section: misc
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-nanopi-neo-plus2
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version 2022.04 for nanopi-neo-plus2
 This packages contains u-boot version 2022.04 compiled for nanopi-neo-plus2 board.
