Source: u-boot-bananapi-r2
Section: misc
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-bananapi-r2
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version 2023.04 for bananapi-r2
 This packages contains u-boot version 2023.04 compiled for bananapi-r2 board.
