{% if item[0].default is defined %}
Default: {{ item[0].default }}
{% endif %}
{% if item[0].base_directory is defined %}
{% if item[0].log_dir is defined %}
LogDir: {{ item[0].base_directory }}/{{ item[0].name }}/{{ item[0].log_dir }}
{% else %}
LogDir: {{ item[0].base_directory }}/{{ item[0].name }}/logs
{% endif %}
{% if item[0].tmp_dir is defined %}
TempDir: {{ item[0].base_directory }}/{{ item[0].name }}/{{ item[0].tmp_dir }}
{% else %}
TempDir: {{ item[0].base_directory }}/{{ item[0].name }}/tmp
{% endif %}
{% endif %}
{% if item[0].incoming_dir is defined %}
IncomingDir: {{ item[0].base_directory }}/{{ item[0].incoming_dir }}
{% else %}
IncomingDir: {{ item[0].base_directory }}/{{ item[0].name }}/incoming
{% endif %}
{% if item[0].allow is defined %}
{% for rule_allow in item[0].allow %}
Allow: {{ rule_allow }}
{% endfor %}
{% endif %}
