Source: dft-buildsystem
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9),
               bash
Standards-Version: 3.9.8
Homepage: https://www.github.com/wbonnet/dft

Package: dft-buildsystem
Architecture: all
Depends: ${misc:Depends},
         bash,
         git,
         build-essential,
         libssl-dev,
         swig,
         python3-cxx-dev,
         make
Description: Debian Framework Toolkit build system
