Source: linux-kernel-h96max-plus
Section: kernel
Priority: optional
Maintainer: William Bonnet <william@wbonnet.net>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-h96max-plus
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 5.19.14 for h96max-plus
 This packages contains the Linux kernel version 5.19.14 compiled for h96max-plus board.

# Package: linux-headers-h96max-plus-5.19.14
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 5.19.14 for h96max-plus
#  This packages contains the Linux kernel headers version 5.19.14 for h96max-plus board.
