Source: u-boot-nanopi-r1
Section: misc
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-nanopi-r1
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version 2022.04 for nanopi-r1
 This packages contains u-boot version 2022.04 compiled for nanopi-r1 board.
