Name: incoming-{{ item.codename }}
IncomingDir: {{ dft_debian_repository_directory }}/{{ item.base_dir }}/incoming
TempDir: /tmp
LogDir: {{ dft_debian_repository_directory }}/{{ item.base_dir }}/logs
{% if item.allow is defined %}
{% for rule_allow in item.allow %}
Allow: {{ rule_allow }}
{% endfor %}
{% endif %}
