Source: linux-kernel-hifive-unmatched
Section: kernel
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-hifive-unmatched
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 5.10.42 for hifive-unmatched
 This packages contains the Linux kernel version 5.10.42 compiled for hifive-unmatched board.

# Package: linux-headers-hifive-unmatched-5.10.42
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 5.10.42 for hifive-unmatched
#  This packages contains the Linux kernel headers version 5.10.42 for hifive-unmatched board.
