Source: linux-kernel-raspberry-pi4
Section: kernel
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-raspberry-pi4
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 5.17.6 for raspberry-pi4
 This packages contains the Linux kernel version 5.17.6 compiled for raspberry-pi4 board.

# Package: linux-headers-raspberry-pi4-5.17.6
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 5.17.6 for raspberry-pi4
#  This packages contains the Linux kernel headers version 5.17.6 for raspberry-pi4 board.
