Source: linux-kernel-hk1
Section: kernel
Priority: optional
Maintainer: William Bonnet <william@wbonnet.net>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-hk1
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 5.19.14 for hk1
 This packages contains the Linux kernel version 5.19.14 compiled for hk1 board.

# Package: linux-headers-hk1-5.19.14
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 5.19.14 for hk1
#  This packages contains the Linux kernel headers version 5.19.14 for hk1 board.
