
# This is the ssh client system-wide configuration file.  See
# ssh_config(5) for more information.  This file provides defaults for
# users, and the values can be changed in per-user configuration files
# or on the command line.

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

# Site-wide defaults for some commonly used options.  For a comprehensive
# list of available options, their meanings and defaults, please see the
# ssh_config(5) man page.

{% for host in dft_openssh.ssh.hosts %}
Host {{ host.name }}
{% if host.forward_agent is defined %}
    ForwardAgent {{ host.forward_agent }}
{% else %}
#   ForwardAgent no
{% endif %}
{% if host.forward_x11 is defined %}
    ForwardX11 {{ host.forward_x11 }}
{% else %}
#   ForwardX11 no
{% endif %}
{% if host.forward_x11_trusted is defined %}
    ForwardX11Trusted {{ host.forward_x11_trusted }}
{% else %}
#   ForwardX11Trusted yes
{% endif %}
{% if host.rhosts_rsa_authentication is defined %}
    RhostsRSAAuthentication {{ host.rhosts_rsa_authentication }}
{% else %}
#   RhostsRSAAuthentication no
{% endif %}
{% if host.rsa_authentication is defined %}
    RSAAuthentication {{ host.rsa_authentication }}
{% else %}
#   RSAAuthentication yes
{% endif %}
{% if host.password_authentication is defined %}
    PasswordAuthentication {{ host.password_authentication }}
{% else %}
#   PasswordAuthentication yes
{% endif %}
{% if host.host_based_authentication is defined %}
    HostbasedAuthentication {{ host.host_based_authentication }}
{% else %}
#   HostbasedAuthentication no
{% endif %}
{% if host.gss_api_authentication is defined %}
    GSSAPIAuthentication {{ host.gss_api_authentication }}
{% else %}
#   GSSAPIAuthentication no
{% endif %}
{% if host.gss_api_delegate_credentials is defined %}
    GSSAPIDelegateCredentials {{ host.gss_api_delegate_credentials }}
{% else %}
#   GSSAPIDelegateCredentials no
{% endif %}
{% if host.gss_api_key_exchange is defined %}
    GSSAPIKeyExchange {{ host.gss_api_key_exchange }}
{% else %}
#   GSSAPIKeyExchange no
{% endif %}
{% if host.gss_api_trust_dns is defined %}
    GSSAPITrustDNS {{ host.gss_api_trust_dns }}
{% else %}
#   GSSAPITrustDNS no
{% endif %}
{% if host.batch_mode is defined %}
    BatchMode {{ host.batch_mode }}
{% else %}
#   BatchMode no
{% endif %}
{% if host.check_host_ip is defined %}
    CheckHostIP {{ host.check_host_ip }}
{% else %}
#   CheckHostIP yes
{% endif %}
{% if host.address_family is defined %}
    AddressFamily {{ host.address_family }}
{% else %}
#   AddressFamily any
{% endif %}
{% if host.connect_timeout is defined %}
    ConnectTimeout {{ host.connect_timeout }}
{% else %}
#   ConnectTimeout 0
{% endif %}
{% if host.strict_host_key_checking is defined %}
    StrictHostKeyChecking {{ host.strict_host_key_checking }}
{% else %}
#   StrictHostKeyChecking ask
{% endif %}
{% if host.identity_files is defined %}
{% for identity_file in host.identity_files %}
    IdentityFile {{ identity_file }}
{% endfor %}
{% else %}
#   IdentityFile ~/.ssh/identity
#   IdentityFile ~/.ssh/id_rsa
#   IdentityFile ~/.ssh/id_dsa
#   IdentityFile ~/.ssh/id_ecdsa
#   IdentityFile ~/.ssh/id_ed25519
{% endif %}
{% if host.port is defined %}
    Port {{ host.port }}
{% else %}
#   Port 22
{% endif %}
{% if host.protocol is defined %}
    Protocol {{ host.protocol }}
{% else %}
#   Protocol 2
{% endif %}
{% if host.cipher is defined %}
    Cipher {{ host.cipher }}
{% else %}
#   Cipher 3des
{% endif %}
{% if host.ciphers is defined %}
    Ciphers {{ host.ciphers }}
{% else %}
#   Ciphers aes128-ctr,aes192-ctr,aes256-ctr,arcfour256,arcfour128,aes128-cbc,3des-cbc
{% endif %}
{% if host.macs is defined %}
    MACs {{ host.macs }}
{% else %}
#   MACs hmac-md5,hmac-sha1,umac-64@openssh.com,hmac-ripemd160
{% endif %}
{% if host.escape_char is defined %}
    EscapeChar {{ host.escape_char }}
{% else %}
#   EscapeChar ~
{% endif %}
{% if host.tunnel is defined %}
    Tunnel {{ host.tunnel }}
{% else %}
#   Tunnel no
{% endif %}
{% if host.tunnel_device is defined %}
    TunnelDevice {{ host.tunnel_device }}
{% else %}
#   TunnelDevice any:any
{% endif %}
{% if host.permit_local_command is defined %}
    PermitLocalCommand {{ host.permit_local_command }}
{% else %}
#   PermitLocalCommand no
{% endif %}
{% if host.visual_host_key is defined %}
    VisualHostKey {{ host.visual_host_key }}
{% else %}
#   VisualHostKey no
{% endif %}
{% if host.proxy_command is defined %}
    ProxyCommand {{ host.proxy_command }}
{% else %}
#   ProxyCommand ssh -q -W %h:%p gateway.example.com
{% endif %}
{% if host.rekey_limit is defined %}
    RekeyLimit {{ host.rekey_limit }}
{% else %}
#   RekeyLimit 1G 1h
{% endif %}
{% if host.send_env is defined %}
    SendEnv {{ host.send_env }}
{% else %}
    SendEnv LANG LC_*
{% endif %}
{% if host.hash_known_hosts is defined %}
    HashKnownHosts {{ host.hash_known_hosts }}
{% else %}
    HashKnownHosts yes
{% endif %}
{% if host.gss_api_authentication is defined %}
    GSSAPIAuthentication {{ host.gss_api_authentication }}
{% else %}
    GSSAPIAuthentication yes
{% endif %}
{% endfor %}
