CONFIG_DEBUG_PAGEALLOC=n
CONFIG_DEBUG_OBJECTS=n
CONFIG_DEBUG_SLAB=n
CONFIG_DEBUG_KMEMLEAK=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_DEBUG_VM=n
CONFIG_DEBUG_VIRTUAL=n
CONFIG_DEBUG_PER_CPU_MAPS=n
CONFIG_DEBUG_HIGHMEM=n
