Package: dft-doc
Source: dft
Version: 0.8.6-1
Architecture: all
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Installed-Size: 9
Section: admin
Priority: optional
Homepage: https://www.github.com/wbonnet/dft
Description: Debian Framework Toolkit documentation
