#!/usr/bin/env bash

{% for repo in dft_srv_reprepro.repositories %}
# Import packages to {{ repo.origin }} repository
reprepro -b {{ dft_srv_reprepro.base_directory }}/{{ repo.directory }} processincoming incoming-{{ repo.codename }} >> /var/log/reprepro/{{ repo.name }}.log
reprepro -b {{ dft_srv_reprepro.base_directory }}/{{ repo.directory }} export >> /var/log/repreproo/{{ repo.name }}.log

{% endfor %}
