Source: u-boot-asus-tinkerboard
Section: misc
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-asus-tinkerboard
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version 2019.07 for asus-tinkerboard
 This packages contains u-boot version 2019.07 compiled for asus-tinkerboard board.
