{% if dft_dns_resolver is defined and dft_dns_resolver.search is defined %}
search {{ dft_dns_resolver.search }}
{% endif %}
{% if dft_dns_resolver is defined and dft_dns_resolver.domain is defined %}
domain {{ dft_dns_resolver.domain }}
{% endif %}
{% if dft_dns_resolver is defined and dft_dns_resolver.nameserver is defined %}
{% for server in dft_dns_resolver.nameserver %}
nameserver {{ server }}
{% endfor %}
{% endif %}
