Source: u-boot-nanopi-zeropi
Section: misc
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-nanopi-zeropi
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version 2020.10 for nanopi-zeropi
 This packages contains u-boot version 2020.10 compiled for nanopi-zeropi board.
