Source: u-boot-sunvell-t95max
Section: misc
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-sunvell-t95max
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version 2023.01 for sunvell-t95max
 This packages contains u-boot version 2023.01 compiled for sunvell-t95max board.
