# /etc/default/tftpd-hpa

TFTP_USERNAME="{{ dft_tftp_server.username }}"
TFTP_DIRECTORY="{{ dft_tftp_server.directory }}"
TFTP_ADDRESS="{{ dft_tftp_server.address }}"
TFTP_OPTIONS="{{ dft_tftp_server.options }}"
