# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
#
# The contents of this file are subject to the Apache 2.0 license you may not
# use this file except in compliance with the License.
#
# Software distributed under the License is distributed on an "AS IS" basis,
# WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
# for the specific language governing rights and limitations under the
# License.
#
#
# Copyright 2020 DFT project (http://www.firmwaretoolkit.org).
# All rights reserved. Use is subject to license terms.
#
#
# Contributors list :
#
#    William Bonnet     wllmbnnt@gmail.com, wbonnet@theitmakers.com
#
#

<VirtualHost {{ item.ServerName }}:80>
  # The ServerName directive sets the request scheme, hostname and port that
  # the server uses to identify itself. This is used when creating
  # redirection URLs. In the context of virtual hosts, the ServerName
  # specifies what hostname must appear in the request's Host: header to
  # match this virtual host. For the default virtual host (this file) this
  # value is not decisive as it is used as a last resort host regardless.
  # However, you must set it for any further virtual host explicitly.

{% if item.ServerName is defined %}
  ServerName {{ item.ServerName }}
{% else %}
  # ServerName is undefined by template variable item.ServerName
{% endif %}
{% if item.ServerAdmin is defined %}
  ServerAdmin {{ item.ServerAdmin }}
{% else %}
  ServerAdmin webmaster@localhost
{% endif %}
{% if item.DocumentRoot is defined %}
  DocumentRoot {{ item.DocumentRoot }}
{% else %}
  DocumentRoot /var/www/html
{% endif %}

  # Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
  # error, crit, alert, emerg.
  # It is also possible to configure the loglevel for particular
  # modules, e.g.
  #LogLevel info ssl:warn

{% if item.ErroLog is defined %}
  ErrorLog ${APACHE_LOG_DIR}/{{ item.ErrorLog }}
{% else %}
  ErrorLog ${APACHE_LOG_DIR}/error.log
{% endif %}
{% if item.AccessLog is defined %}
  CustomLog ${APACHE_LOG_DIR}/{{ item.AccessLog }} combined
{% else %}
  CustomLog ${APACHE_LOG_DIR}/access.log combined
{% endif %}

  # For most configuration files from conf-available/, which are
  # enabled or disabled at a global level, it is possible to
  # include a line for only one particular virtual host. For example the
  # following line enables the CGI configuration for this host only
  # after it has been globally disabled with "a2disconf".
  #Include conf-available/serve-cgi-bin.conf
{% if item.redirect_https is defined and item.redirect_https == 1 %}
RewriteEngine on
RewriteCond %{SERVER_NAME} ={{ item.ServerName }}
RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
{% endif %}
</VirtualHost>
