Source: linux-kernel-beagleboard-beaglebone-black
Section: kernel
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-beagleboard-beaglebone-black
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 5.15.10 for beagleboard-beaglebone-black
 This packages contains the Linux kernel version 5.15.10 compiled for beagleboard-beaglebone-black board.

# Package: linux-headers-beagleboard-beaglebone-black-5.15.10
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 5.15.10 for beagleboard-beaglebone-black
#  This packages contains the Linux kernel headers version 5.15.10 for beagleboard-beaglebone-black board.
