#INTERFACE    SOURCE    ADDRESS   PROTO PORT(S) IPSEC MARK
{% if dft_shorewall.masq is defined %}
{% for m in dft_shorewall.masq %}
{% if m.comment is defined %}

# {{ m.comment }}
{% endif %}
{{ m.interface }}	{{ m.source }}	{% if m.address is defined %}{{ m.address }}{% else %}-{% endif %}	{% if m.proto is defined %}{{ m.proto }}{% else %}-{% endif %}	{% if m.ports is defined %}{{ m.ports }}{% else %}-{% endif %}	{% if m.ipsec is defined %}{{ m.ipsec }}{% else %}-{% endif %}	{% if m.mark is defined %}{{ m.mark }}{% else %}-{% endif %}

{%endfor %}
{% endif %}
#LAST LINE -- ADD YOUR ENTRIES ABOVE THIS LINE -- DO NOT REMOVE
