# SOURCE	DEST		POLICY		LOG LEVEL	LIMIT:BURST
{% if dft_shorewall.policy is defined %}
{% for pol in dft_shorewall.policy %}
{% if pol.comment is defined %}

# {{ pol.comment }}
{% endif %}
{{ pol.source }}	{{ pol.dest }}	{{ pol.policy }}	{% if pol.log_level is defined %}{{ pol.log_level }}{% endif %}	{% if pol.limit_burst is defined %}{{ pol.limit_burst }}{% endif %}

{%endfor %}
{% endif %}

# THE FOLLOWING POLICY MUST BE LAST
all		all		REJECT		info

#LAST LINE -- ADD YOUR ENTRIES ABOVE THIS LINE -- DO NOT REMOVE

