# Stop a first error
set -e

# Configuration de base: datestamp e.g. YYYYMMDD
TIMESTAMP=$(date +"%Y%m%d")

# Defines the dump options
DUMP_OPTIONS  = "--opt --force --skip-lock-tables --events --add-drop-database --add-drop-trigger"
{% if item.extra_mysqldump_options is defined %}
#DUMP_OPTIONS = "${DUMP_OPTIONS} {{item.extra_mysqldump_options}}"
{% endif %}

mysqldump ${DUMP_OPTIONS} > ${BACKUP_DIR}/${BACKUP_FILE}
