Source: linux-kernel-nvidia-jetson-tx1
Section: kernel
Priority: optional
Maintainer: William Bonnet <william@wbonnet.net>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-nvidia-jetson-tx1
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 5.19.11 for nvidia-jetson-tx1
 This packages contains the Linux kernel version 5.19.11 compiled for nvidia-jetson-tx1 board.

# Package: linux-headers-nvidia-jetson-tx1-5.19.11
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 5.19.11 for nvidia-jetson-tx1
#  This packages contains the Linux kernel headers version 5.19.11 for nvidia-jetson-tx1 board.
