#ACTION   SOURCE      DEST    PROTO DEST-PORT(S)  SOURCE-PORT(S)
{% if dft_shorewall.stopped_rules is defined %}
{% for rule in dft_shorewall.stopped_rules %}
{% if rule.comment is defined %}

# {{ rule.comment }}
{% endif %}
{{ rule.action }}	{{ rule.source }}	{{ rule.dest }}	{% if rule.proto is defined %}{{ rule.proto }}{% else %}-{% endif %}	{% if rule.dest_ports is defined %}{{ rule.dest_ports }}{% else %}-{% endif %}	{% if rule.src_ports is defined %}{{ rule.src_ports }}{% else %}-{% endif %}

{%endfor %}
{% endif %}
