SYNCHRONIZE_ALL_ARCHIVES_DO_SYNCHRONIZE_MAIN={{ synchronize_all_archives_do_synchronize_main }}
SYNCHRONIZE_ALL_ARCHIVES_DO_SYNCHRONIZE_SECURITY={{ synchronize_all_archives_do_synchronize_security }}
SYNCHRONIZE_ALL_ARCHIVES_DO_SYNCHRONIZE_PORTS={{ synchronize_all_archives_do_synchronize_ports }}
