TO="{{ dft_ftpsync_security_repository_dir }}"
RSYNC_HOST={{ dft_ftpsync_conf_security_debian_mirror }}
RSYNC_PATH={{ dft_ftpsync_conf_security_debian_mirror_path }}
RSYNC_BW="{{ dft_ftpsync_rsync_bandwidth_limit }}"
EXCLUDE="{{ dft_ftpsync_conf_security_exclude }}"
ARCH_INCLUDE="{{ dft_ftpsync_conf_security_arch_include }}"
