item[0] {{ item[0] }}
item[1] {{ item[1] }}
{% if item[0].codename is defined %}
Codename: {{ item[0].codename }}
{% endif %}
{% if item[0].components is defined %}
Components: {{ item[0].components }}
{% endif %}
{% if item[0].udeb_components is defined %}
UDebComponents: {{ item[0].udeb_components }}
{% endif %}
{% if item[0].distributions.origin is defined %}
Origin: {{ item[0].distributions.origin }}
{% endif %}
{% if item[0].distributions.label is defined %}
Label: {{ item[0].distributions.label }}
{% endif %}
{% if item[0].architectures is defined %}
Architectures: {{ item[0].architectures }}
{% endif %}
{% if item[0].description is defined %}
Description: {{ item[0].description }}
{% endif %}
{% if item[0].log is defined %}
Log: {{ item[0].log }}
{% endif %}
{% if item[0].sign_with is defined %}
SignWith: {{ item[0].sign_with }}
{% endif %}
{% if item[0].deb_override is defined %}
DebOverride: {{ item[0].deb_override }}
{% endif %}
{% if item[0].udeb_override is defined %}
UDebOverride: {{ item[0].udeb_override }}
{% endif %}
{% if item[0].dsc_override is defined %}
DscOverride: {{ item[0].dsc_override }}
{% endif %}
{% if item[0].deb_indices is defined %}
DebIndices: {{ item[0].deb_indices }}
{% endif %}
{% if item[0].udeb_indices is defined %}
UDebIndices: {{ item[0].udeb_indices }}
{% endif %}
{% if item[0].dsc_indices is defined %}
DscIndices: {{ item[0].dsc_indices }}
{% endif %}
{% if item[0].contents is defined %}
Contents: {{ item[0].contents }}
{% endif %}
{% if item[0].uploaders is defined %}
Uploaders: TODO uploaders
{% endif %}
