{% if item.distributions.origin is defined %}
Origin: {{ item.distributions.origin }}
{% endif %}
{% if item.distributions.label is defined %}
Label: {{ item.distributions.label }}
{% endif %}
{% if item.distributions.architectures is defined %}
Architectures: {{ item.distributions.architectures }}
{% endif %}


{% if item.suite is defined %}
Suite: {{ item.suite }}
{% endif %}
{% if item.codename is defined %}
Codename: {{ item.codename }}
{% endif %}
{% if item.components is defined %}
Components: {{ item.components }}
{% endif %}
{% if item.udeb_components is defined %}
UDebComponents: {{ item.udeb_components }}
{% endif %}
{% if item.description is defined %}
Description: {{ item.description }}
{% endif %}
{% if item.log is defined %}
Log: {{ item.log }}
{% else %}
Log: {{ dft_srv_reprepro.base_directory }}/{{ item.directory }}/logs/{{ item.name }}.log
{% endif %}
{% if item.sign_with is defined %}
SignWith: {{ item.sign_with }}
{% endif %}
{% if item.deb_override is defined %}
DebOverride: {{ item.deb_override }}
{% endif %}
{% if item.udeb_override is defined %}
UDebOverride: {{ item.udeb_override }}
{% endif %}
{% if item.dsc_override is defined %}
DscOverride: {{ item.dsc_override }}
{% endif %}
{% if item.deb_indices is defined %}
DebIndices: {{ item.deb_indices }}
{% endif %}
{% if item.udeb_indices is defined %}
UDebIndices: {{ item.udeb_indices }}
{% endif %}
{% if item.dsc_indices is defined %}
DscIndices: {{ item.dsc_indices }}
{% endif %}
{% if item.contents is defined %}
Contents: {{ item.contents }}
{% endif %}
{% if item.uploaders is defined %}
Uploaders: uploaders
{% endif %}
