{% for distrib in item.distributions %}
{% if distrib.codename is defined %}
Codename: {{ distrib.codename }}
{% endif %}
{% if distrib.components is defined %}
Components: {{ distrib.components }}
{% endif %}
{% if distrib.udeb_components is defined %}
UDebComponents: {{ distrib.udeb_components }}
{% endif %}
{% if item.distributions.origin is defined %}
Origin: {{ item.distributions.origin }}
{% endif %}
{% if item.distributions.label is defined %}
Label: {{ item.distributions.label }}
{% endif %}
{% if distrib.architectures is defined %}
Architectures: {{ distrib.architectures }}
{% endif %}
{% if item.description is defined %}
Description: {{ item.description }}
{% endif %}
{% if distrib.log is defined %}
Log: {{ distrib.log }}
{% else %}
Log: {{ item.base_directory }}/{{ item.name }}/logs/{{ item.name }}-{{ distrib.codename }}.log
{% endif %}
{% if distrib.sign_with is defined %}
SignWith: {{ distrib.sign_with }}
{% endif %}
{% if distrib.deb_override is defined %}
DebOverride: {{ distrib.deb_override }}
{% endif %}
{% if distrib.udeb_override is defined %}
UDebOverride: {{ distrib.udeb_override }}
{% endif %}
{% if distrib.dsc_override is defined %}
DscOverride: {{ distrib.dsc_override }}
{% endif %}
{% if distrib.deb_indices is defined %}
DebIndices: {{ distrib.deb_indices }}
{% endif %}
{% if distrib.udeb_indices is defined %}
UDebIndices: {{ distrib.udeb_indices }}
{% endif %}
{% if distrib.dsc_indices is defined %}
DscIndices: {{ distrib.dsc_indices }}
{% endif %}
{% if distrib.contents is defined %}
Contents: {{ distrib.contents }}
{% endif %}
{% if distrib.uploaders is defined %}
Uploaders: TODO uploaders
{% endif %}

{% endfor %}
