Name: incoming-{{ item.codename }}
IncomingDir: {{ item.base_directory }}/{{ item.name }}/incoming
TempDir: {{ item.base_directory }}/{{ item.name }}/tmp
LogDir: {{ item.base_directory }}/{{ item.name }}/logs
{% if item.allow is defined %}
Allow: {% for rule_allow in item.allow %} {{ rule_allow }} {% endfor %}
{% endif %}
