#!/usr/bin/env bash

{% if item.base_directory is defined %}
{% for release in item.releases %}
# Import packages to {{ item.origin }} repository for Debian release : {{ release.codename }}
reprepro -b {{ item.base_directory }}/{{ item.name }} processincoming incoming-{{ release.codename }} >> /var/log/reprepro/{{ item.name }}-{{ release.codename }}.log
reprepro -b {{ item.base_directory }}/{{ item.name }} export >> /var/log/reprepro/{{ item.name }}-{{ release.codename }}.log

{% endfor %}
{% endif %}
