Source: linux-kernel-nanopi-k2
Section: kernel
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-nanopi-k2
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 5.11.22 for nanopi-k2
 This packages contains the Linux kernel version 5.11.22 compiled for nanopi-k2 board.

# Package: linux-headers-nanopi-k2-5.11.22
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 5.11.22 for nanopi-k2
#  This packages contains the Linux kernel headers version 5.11.22 for nanopi-k2 board.
