Source: u-boot-orangepi-one-plus
Section: misc
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: u-boot-orangepi-one-plus
Architecture: any
Depends: ${misc:Depends}
Description: u-boot, version 2018.03 for orangepi-one-plus
 This packages contains u-boot version 2018.03 compiled for orangepi-one-plus board.
