//
// Do any local configuration here
//

zone "/roudiers.wbonnet.net" {
       type master;
       file "/etc/bind/db.roudiers.wbonnet.net";
       allow-query { internals; };
//       forwarders {};
};

zone "11.168.192.in-addr.arpa" {
       type master;
       file "/etc/bind/11.168.192.in-addr.arpa";
       allow-query { internals; };
//       forwarders {};
};

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

