TO="{{ dft_ftpsync_main_repository_dir }}"
RSYNC_HOST={{ dft_ftpsync_conf_main_debian_mirror }}
RSYNC_PATH={{ dft_ftpsync_conf_main_debian_mirror_path }}
RSYNC_BW="{{ dft_ftpsync_rsync_bandwidth_limit }}"
EXCLUDE="{{ dft_ftpsync_conf_main_exclude }}"
ARCH_INCLUDE="{{ dft_ftpsync_conf_main_arch_include }}"
