Source: linux-kernel-cubieboard-5
Section: kernel
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-cubieboard-5
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 6.3.8 for cubieboard-5
 This packages contains the Linux kernel version 6.3.8 compiled for cubieboard-5 board.

# Package: linux-headers-cubieboard-5-6.3.8
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 6.3.8 for cubieboard-5
#  This packages contains the Linux kernel headers version 6.3.8 for cubieboard-5 board.
