Source: linux-kernel-96boards-rock960
Section: kernel
Priority: optional
Maintainer: William Bonnet <wbonnet@theitmakers.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: linux-kernel-96boards-rock960
Architecture: any
Depends: ${misc:Depends},
         kmod, 
         linux-base (>= 4.3~), 
         initramfs-tools (>= 0.120+deb8u2) | linux-initramfs-tool
Description: Linux kernel, version 5.15.10 for 96boards-rock960
 This packages contains the Linux kernel version 5.15.10 compiled for 96boards-rock960 board.

# Package: linux-headers-96boards-rock960-5.15.10
# Architecture: any
# Depends: ${misc:Depends}
# Description: Linux kernel headers, version 5.15.10 for 96boards-rock960
#  This packages contains the Linux kernel headers version 5.15.10 for 96boards-rock960 board.
